.quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.1);
    border-radius: .2rem;
    padding: .5rem;
    img {
        pointer-events: none;
    }
    button {
        background: transparent;
    }
    input {
        width: 2rem;
        text-align: center;
        background: transparent;
    }
}

.price {
    text-align: center;
    @media (min-width:300px) and (max-width: 768px) {
        font-size: 0.9rem;
        display: flex;
    }
}


.delete {
    cursor: pointer;
    img {
        pointer-events: none;
        width: 2rem;
        @media (min-width:300px) and (max-width: 768px) {
            width: 1.725rem;
        }
    }
}